{% if page.permalink == '/' or page.permalink == '/en/' %}
  <div class="footer">
    {% assign app_sup = 'Recursos' %}
    {% if page.lang == 'en' %}
      {% assign app_sup = 'Support:' %}
    {% endif %}
    <!-- <div class="footer-line">{{ app_sup }}</div> -->
    <h2 class="support-title">{{ app_sup }}</h2>
    <div class="home-list">
      <a class="list-item support-item" href="https://www.ibirapitanga.org.br/" target="_blank">
      <div class="parceira-logo" style="background-image: url('{{ site.baseurl }}/media/images/logos/ibirapitanga.png');');">
      </div>
      </a>
      <a class="list-item support-item" href="https://www.porticus.com/" target="_blank">
        <div class="parceira-logo" style="background-image: url('{{ site.baseurl }}/media/images/logos/logo_porticus.png');');">
      </div>
      </a>
      <a class="list-item support-item" href="https://communityartslab.org/" target="_blank">
        <div class="parceira-logo" style="background-image: url('{{ site.baseurl }}/media/images/logos/logo_cal.png');');">
      </div>
      </a>
      <a class="list-item support-item" href="https://www.fordfoundation.org/" target="_blank">
        <div class="parceira-logo" style="background-image: url('{{ site.baseurl }}/media/images/logos/ford_black.svg');"></div>
      </a>
      <br>
    </div>
  </div>
{% endif %}

<div class="footer footer-section">
  <!-- <div class="footer-line">Silo - Arte e Latitude Rural</div> -->
  <img src="{{ site.baseurl }}/media/images/silo_logo_footer.png" alt="Silo - Arte e Latitude Rural" class="logo-footer">
  <div class="footer-line">Fale com a gente: <a href="mailto:contato@silo.org.br" target="_blank">contato@silo.org.br</a></div>
  <div class="footer-line">Caixa Postal: 82230</div>
  <div class="footer-line">CEP: 27542-090</div>
  <div class="footer-line">Resende-RJ</div>

  <div class="footer-line"><a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en" target="_blank" rel="license noopener noreferrer" class="cc-footer"><img src="{{ site.baseurl }}/media/images/creative-commons_cc.svg" alt=""><img src="{{ site.baseurl }}/media/images/creative-commons_by.svg" alt=""><img src="{{ site.baseurl }}/media/images/creative-commons_sa.svg" alt="">CC BY-SA 4.0</a></div>
  <!-- <a class="footer-line" href="mailto:contato@silo.org.br" target="_blank">contato@silo.org.br</a> -->
  <!-- <div class="footer-line">
    {% include social-icons.html %}
  </div> -->

  <!-- {% assign paypal_button = 'https://www.paypalobjects.com/pt_BR/i/btn/btn_donate_LG.gif' %}
  {% if page.lang == 'en' %}
    {% assign paypal_button = 'https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif' %}
  {% endif %}
  <div class="footer-line" style="margin-top: 10px;">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick" />
    <input type="hidden" name="hosted_button_id" value="YDQYQUTLYYQ9N" />
    <input type="image" src="{{ paypal_button }}" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_BR/i/scr/pixel.gif" width="1" height="1" />
    </form>
  </div> -->
</div>

<!-- START - We recommend to place the below code in footer or bottom of your website html  -->
<script>
  window.REQUIRED_CODE_ERROR_MESSAGE = 'Escolha um código de país';
  window.LOCALE = 'pt';
  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "A informação fornecida não é valida. Verifique o formato do campo e tente novamente.";

  window.REQUIRED_ERROR_MESSAGE = "Este campo não pode ser deixado em branco. ";

  window.GENERIC_INVALID_MESSAGE = "A informação fornecida não é valida. Verifique o formato do campo e tente novamente.";




  window.translation = {
    common: {
      selectedList: '{quantity} lista selecionada',
      selectedLists: '{quantity} listas selecionadas'
    }
  };

  var AUTOHIDE = Boolean(0);
</script>
<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>


<!-- END - We recommend to place the above code in footer or bottom of your website html  -->
