<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-body">
        <h3>A Silo está com convocatórias abertas:</h3>
        <ul>
            <li>
               Para organizações (privadas e públicas): <a href="/silo-escola-2023">Inscreva-se no curso da Silo Escola "Como Fazer Laboratórios?"</a>
            </li>
            <li>
                Para artistas e curadores: <a href="/resiliencia-2023">Inscreva-se para a Resiliência - Residência Artística</a>
            </li>
            <li>
                Para agricultores e produtores de alimentos: <a href="/caipiratechlab2023">Inscreva-se para o Curso CaipiratechLAB 2023</a>
            </li>
        </ul>
    </div>
  </div>

</div>

<script type="text/javascript" src="/js/modal.js"></script>
