<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-body">
        <h3>EncontrADA: Confabulações</h3>
        <p>Inscrições abertas para a EncontrADA - Confabulações, um encontro feminista intergeracional, com espaços para intercambio de saberes, laboratórios de criação e oficinas.</p>
        <p><a href="/encontrada2024/">Confira a chamada e inscreva-se aqui.</a></p>
    </div>
  </div>

</div>

<script type="text/javascript" src="/js/modal.js"></script>
