<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include newsletter-popup.html %}
    <!-- {% include modal.html %} -->
    {% include menu.html %}
    <div class="main-div">
      <section class="content-text">
        {{ content }}

        {% include process-calls.html %}
        {% if open.size > 0 %}
        <br>
        {% if page.lang == 'en' %}
        <a class="nav-call" href="{{ site.baseurl }}/open-calls">Open Calls</a>
        {% else %}
        <a class="nav-call" href="{{ site.baseurl }}/convocatorias">Convocatórias Abertas</a>
        {% endif %}
        {% endif %}
      </section>
      <section class="home-items-wrapper m-w-85">
        <a class="home-item home-card" href="/biblioteca/">
          <img src="/media/images/banner/banner_nossas_publicacoes.png" alt="Nossas Publicações" class="banner-image">
          <div class="banner-text-wrapper">
            <div class="banner-text">
              {% if page.lang == 'en' %}
              <span>// Our Publications //</span>
              {% else %}
              <span>// Conheça Nossas Publicações //</span>
              {% endif %}
            </div>
          </div>
        </a>
        <a class="home-item home-card" href="/programas/">
          <img src="/media/images/banner/banner_nossos_programas.png" alt="Nossos Programas" class="banner-image">
          <div class="banner-text-wrapper">
            <div class="banner-text">
              {% if page.lang == 'en' %}
              <span>// Access Our Programs //</span>
              {% else %}
              <span>// Acesse Nossos Programas //</span>
              {% endif %}
            </div>
          </div>
        </a>
      </section>
      <section class="list-wrapper">
        {% assign news = 'Últimas Notícias' %}
        {% if page.lang == 'en' %}
          {% assign news = 'Latest News' %}
        {% endif %}
        <a href="/noticias/"><h2>{{ news }}</h2></a>
        <div class="home-items-wrapper news-wrapper">
          {% assign posts = site.posts | where:"lang", page.lang | where:"category", "silo" %}
          {% for post in posts limit: 2 %}
            {% assign pCover = site.baseurl | append: '/' | append: post.cover %}
            <a class="home-item home-card" href="{{ site.baseurl }}{{ post.url }}">
              <div class="list-item-image" style="background-image: url('{{ pCover }}');">
                <div class="list-item-title">{{ post.title }}</div>
              </div>
            </a>
          {% endfor %}
        </div>
        {% if page.lang == 'en' %}
          <a href="{{ site.baseurl }}/news/"><h3 class="more-news-link">more news...</h3></a>
        {% else %}
          <a href="{{ site.baseurl }}/noticias/"><h3 class="more-news-link">mais notícias...</h3></a>
        {% endif %}
      </section>
      <section class="list-wrapper project-list">
        {% assign projects = 'Programas' %}
        {% if page.lang == 'en' %}
          {% assign projects = 'Programs' %}
        {% endif %}
        <h2>{{ projects }}</h2>
        <!---
        {% assign project-text = 'Nossas atividades se dividem em 4 frentes de ação:' %}
        {% if page.lang == 'en' %}
          {% assign project-text = '' %}
        {% endif %}
        {{ project-text }}
        --->
        <div class="home-image-list-wrapper">
          {% assign pages = site.pages | where:"lang", page.lang %}
          {% for page in pages %}
            {% if page.path contains 'projects' and page.cover %}
              {% assign pCover = site.baseurl | append: '/' | append: page.cover %}
              <a class="home-image-a" href="{{ site.baseurl }}{{ page.url }}">
                <img class="home-image" src="{{ pCover }}" alt="{{ page.title }}">
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>

