<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include newsletter-popup.html %}
    {% include menu.html %}
    <div class="main-div">
      <section class="list-wrapper">
          {% include submenu.html %}
      </section>
          <!--- {% include people-group.html section="diretoria" %} --->
          {% include people-group.html section="equipe" %}
          {% include people-group.html section="conselho" %}
          {% include people-group.html section="associadas" %}
    </div>
    {% include footer.html %}
  </body>
</html>
