<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include newsletter-popup.html %}
    {% include menu.html %}
    <div class="main-div">
      <section class="content-text">
        {% unless page.path contains '_pages' %}
          <h2 class="post-title">{{ page.title }}</h2>
          {% include post-date.html %}
        {% endunless %}
        {% include submenu.html %}
        {{ content }}
        {% if page.swipebox %}
          {% include swipebox.html prefix=page.swipebox %}
        {% endif %}
        {% if page.path contains '_posts/' %}
          {% include share.html %}
        {% endif %}
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
