<!DOCTYPE html>
 <html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body id="links">
    <div class="main-div">
      <section class="content-text">
        <img src="{{ site.baseurl }}/media/images/gif-links.gif">
        {{ content }} 
        <br>     
        {% assign link = site.data.links | sort: 'index' %}
        {% for item in link %}
        <a class="nav-call" style="text-decoration:none; color:white;" href="{{ item.url }}">{{ item.title }}</a>
        {% endfor %}

        </section>  
    </div>        
    {% include footer.html %}
  </body>
</html>