<!DOCTYPE html>
 <html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body id="links">
    <div class="main-div">
      <section class="content-text">
        <img src="{{ site.baseurl }}/media/images/gif-links.gif">
        {{ content }} 
        <br>     
        <a class="nav-call" style="text-decoration:none; color:white;" href="https://benfeitoria.com/siloescola">CAMPANHA SILO ESCOLA</a>
    
        <a class="nav-call" style="text-decoration:none; color:white;" href="{{ site.baseurl }}/convocatorias">RESILIENCE OPEN CALL</a>
          
        <a class="nav-call" style="text-decoration:none; color:white;" href="{{ site.baseurl }}">SILO SITE</a>     
        
        <a class="nav-call" style="text-decoration:none; color:white;" href="{{ site.baseurl }}/convocatorias">Convocatória <br>Assistente de Finanças</a>

        </section>  
    </div>        
    {% include footer.html %}
  </body>
</html>