<!DOCTYPE html>
 <html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body id="links">
        <img src="{{ site.baseurl }}/media/images/links-topo.png">
    <div class="main-div">
      <section class="content-text">
        {{ content }} 
        <br>     
        {% assign link = site.data.links | sort: 'index' %}
        {% for item in link %}
        <a class="nav-call" style="text-decoration:none; color: white; background-color: {{ item.color }}" href="{{ item.url }}">{{ item.title }}</a>
        {% endfor %}
        <div class="center">
            {% include social-icons.html %}
        </div>
        </section>  
    </div>      
    <img src="{{ site.baseurl }}/media/images/links-base.png">
  </body>
</html>